* {
    margin: 0px;
}

main {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 100px 50px;
    grid-template-areas: "head" "menu" "main" "barra" "foot";
}

header{
    grid-area: head;
    background-color: teal;
}

nav{
    grid-area: menu;
    background-color: saddlebrown;
}

section{
    grid-area: main;
    background-color: sandybrown;
}

aside{
    grid-area: barra;
    background-color: blueviolet;
}

footer{
    grid-area: foot;
    background-color: steelblue;
}


@media (min-width: 600px) and (max-width: 1000px) {
    .grid {
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 50px 1fr 100px;
        grid-template-areas: "head head" 
        "menu menu" 
        "barra main" 
        "foot foot";
    }
}

@media (min-width: 1001px) {
    .grid {
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "head head head" 
        "menu barra main" 
        "foot foot foot";
    }
}