.grid{
    display: grid;
/*     grid-template-columns: 50px 300px ;
    grid-template-rows: 200px 75px; */
/*     grid-template-columns: 1fr 1fr ;
    grid-template-rows: 2fr 1fr; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "head head" "menu main" "foot foot";
    
}

.grid div{
    border: 1px solid violet;
}

.a {
    grid-area: head;
    background-color: teal;
}

.b {
    grid-area: menu;
    background-color: saddlebrown;
}

.c {
    grid-area: main;
    background-color: sandybrown;
}

.d {
    grid-area: foot;
    background-color: steelblue;
}
