body{
    font-family: Verdana;
    font-weight: bold;
    font-size: small;
    margin: 0%;
}
.productos{
    text-align: center;
    width: 200px;
    height: 250px;
   padding: 4%;
    font-weight: bold;
    float: left;
    border: 1px solid black;
    background-color: cornsilk;
}

#menu{
    width: 62%;
    float: left;
}

#carrito{
    width: 37%;
    float: left;
    text-align: center;
    background-color: skyblue;  
    border: 1px solid black;  
}


img{
    height:  170px;
}

button{
    margin: 4%;
    font-family: Verdana;
    font-weight: bold;
    font-size: small;
    padding: 0px;
}

table img{
    width: 32px;
    height: 32px;
}

table input{
    width: 45px;
    padding: auto;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table tfoot{
    border-top: 2px solid black;
    text-align: center;
}

/* <div class="productos" id="p1">
<img src="/sesion 18/img/1.png" alt="producto"><br>
<span id="nombre">Frappe de Mocha</span><br>
<span id="precio">16.50</span><br>
<button onclick="agregarProducto('0','Frappe de Mocha', '16.50','/sesion 18/img/1.png')">agregar al carrito</button>
</div>
<div class="productos">
<img src="/sesion 18/img/2.png" alt="producto" ><br>
<span>Frappe de Vainilla</span><br>
<span>14.50</span><br>
<button onclick="agregarProducto('1','Frappe de Vainilla', '14.50','/sesion 18/img/2.png')">agregar al carrito</button>
</div> 
<div class="productos">
<img src="/sesion 18/img/3.png" alt="producto" ><br>
<span>affogato</span><br>
<span>10.50</span><br>
<button onclick="agregarProducto('2','affogato', '10.50','/sesion 18/img/3.png')">agregar al carrito</button>
</div> 
<div class="productos">
<img src="/sesion 18/img/4.png" alt="producto"><br>
<span>Té Helado</span><br>
<span>11.50</span><br>
<button onclick="agregarProducto('3','Té Helado', '11.50','/sesion 18/img/4.png')">agregar al carrito</button>
</div> 
<div class="productos">
<img src="/sesion 18/img/5.png" alt="producto" id="imagen"><br>
<span>Frappe de Maracuyá</span><br>
<span>19.50</span><br>
<button onclick="agregarProducto('4','Frappe de Maracuyá', '19.50','/sesion 18/img/5.png')">agregar al carrito</button>
</div> 
<div class="productos">
<img src="/sesion 18/img/6.png" alt="producto" id="imagen"><br>
<span>Frappe de Oreo</span><br>
<span>15.50</span><br>
<button onclick="agregarProducto('5','Frappe de Oreo', '15.50','/sesion 18/img/6.png')">agregar al carrito</button>
</div> */


