body{
    overflow: hidden;
}

p{
/*     animation-duration: 10s;
    animation-name: slideIn;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: 6s infinite alternate slideIn;
}

@keyframes slideIn {
/*     from{
        margin-left: 100%;
        width: 300%;
    } 
    
    to{
        margin-left: 0%;
        width: 50%;
        background-color: blueviolet;
        color: white;
    } */

    0%{
        margin-left: 100%;
        width: 300%;
    }

    30%{
        background-color: skyblue;
    }

    60%{
        background-color:tomato;
    }

    90%{
        background-color:yellowgreen
    }

    100%{
        margin-left: 0%;
        width: 50%;
        background-color: blueviolet;
        color: white;
    }
}